<section class="bg-dark-1 h-full min-h-screen">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen"
  >
    <div class="w-full sm:max-w-md">
      <div class="p-6 flex flex-col justify-stretch">
        <img src="/assets/icons/neura.svg" alt="logo" class="w-20 mx-auto" />

        <form
          class="flex flex-col gap-6 mt-12"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <div>
            <label
              for="email"
              class="block mb-2 font-semibold text-sm text-gray-100"
            >
              Your email
            </label>
            <input
              type="email"
              name="email"
              id="email"
              class="bg-dark-2 rounded-lg border border-dark-3 placeholder-gray-400 text-white outline-none block w-full p-2.5"
              placeholder="name@company.com"
              formControlName="email"
            />
            @if (loginForm.get('email')?.invalid &&
            loginForm.get('email')?.touched) {
            <div class="text-red-400 text-sm mt-1">
              @if (loginForm.get('email')?.hasError('required')) {
              <span>Email is required.</span>
              } @if (loginForm.get('email')?.hasError('email')) {
              <span>Invalid email format.</span>
              }
            </div>
            }
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 font-semibold text-sm text-gray-100"
            >
              Password
            </label>
            <div class="relative">
              <input
                [type]="showPassword() ? 'text' : 'password'"
                name="password"
                id="password"
                placeholder="••••••••"
                class="bg-dark-2 rounded-lg border border-dark-3 placeholder-gray-400 text-white outline-none block w-full p-2.5"
                formControlName="password"
              />
              <div
                (click)="toggleShowPassword()"
                class="flex items-center justify-center absolute right-2 top-1/2 -translate-y-1/2 w-8 h-8 rounded-full hover:bg-dark-3 cursor-pointer"
              >
                <img
                  [src]="
                    showPassword()
                      ? '/assets/icons/eye-closed.svg'
                      : '/assets/icons/eye.svg'
                  "
                  alt="logo"
                  class="w-6 mx-auto"
                />
              </div>
            </div>

            @if (loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched) {
            <div class="text-red-400 text-sm mt-1">
              @if (loginForm.get('password')?.hasError('required')) {
              <span>Password is required.</span>
              }
            </div>
            }
          </div>
          <div mb-4></div>
          <button
            type="submit"
            class="bg-primary text-white rounded-xl px-2 h-11 hover:bg-primary-2 cursor-pointer"
          >
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
