<section class="bg-dark-1 h-full min-h-screen">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen"
  >
    <div class="w-full sm:max-w-md">
      <div class="p-6 flex flex-col justify-stretch">
        <img src="/assets/icons/neura.svg" alt="logo" class="w-20 mx-auto" />

        <form
          class="flex flex-col gap-6 mt-12"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <div>
            <label
              for="email"
              class="block mb-2 font-semibold text-sm text-gray-300"
            >
              Your email
            </label>
            <input
              type="email"
              name="email"
              id="email"
              class="bg-dark-2 rounded-lg border border-dark-3 placeholder-gray-400 text-gray-200 outline-none block w-full p-2.5"
              placeholder="name@company.com"
              formControlName="email"
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 font-semibold text-sm text-gray-300"
            >
              Password
            </label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-dark-2 rounded-lg border border-dark-3 placeholder-gray-400 text-gray-200 outline-none block w-full p-2.5"
              formControlName="password"
            />
          </div>
          <div mb-4></div>
          <button
            type="submit"
            class="bg-primary text-white rounded-xl px-2 h-11 hover:bg-primary-2 cursor-pointer"
          >
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
