<div
  class="relative w-full flex flex-col h-full overflow-y-auto bg-dark-1"
  #messagesContainer
>
  <div
    class="max-w-4xl w-full mx-auto pt-6 px-6 flex flex-col gap-4"
    #contentDiv
  >
    @for (message of messages; track message.content) { @if(message.role ==
    'user'){
    <app-user-message [text]="message.content" />

    } @else{
    <div>
      <app-assistant-message [text]="message.content" />
    </div>
    } } @if (isLoading()) {

    <div class="mb-4">
      <app-typing-loader />
    </div>
    }
  </div>
  <div
    class="sticky bottom-0 max-w-4xl w-full mx-auto mt-auto bg-dark-1 flex flex-col justify-center px-6"
    [ngClass]="{ 'h-full': !internalChatId() && messages.length == 0 }"
  >
    @if (!internalChatId() && messages.length == 0) {
    <div class="flex flex-col items-center mb-8 gap-4">
      <div class="flex gap-2 items-center mx-auto">
        <img src="/assets/icons/neura.svg" alt="logo" class="w-10" />
        <span class="text-2xl text-white font-semibold">Hi, I'm Neura. </span>
      </div>
      <div class="text-md text-gray-300">How can I help you today?</div>
    </div>

    }

    <app-text-message-box
      [onMessageDisabled]="isLoading() || isCompleting()"
      (onMessage)="handleCompletion($event)"
      ngSkipHydration
    ></app-text-message-box>
    <div class="h-4"></div>
  </div>
</div>
