<div
  class="relative w-full flex flex-col h-screen overflow-y-auto bg-zinc-800"
  #messagesContainer
>
  <div
    class="max-w-3xl w-full mx-auto pt-6 px-6 flex flex-col gap-4"
    #contentDiv
  >
    @for (message of messages; track message) { @if(message.role == 'user'){
    <app-user-message [text]="message.content" />

    } @else{
    <div>
      <app-assistant-message [text]="message.content" />
    </div>
    } } @if (isLoading()) {

    <div class="mb-4">
      <app-typing-loader />
    </div>
    }
  </div>
  <div
    class="sticky bottom-0 max-w-3xl w-full mx-auto mt-auto bg-zinc-800 flex flex-col justify-center px-6"
    [ngClass]="{ 'h-full': !internalChatId() && messages.length == 0 }"
  >
    <app-text-message-box
      [onMessageDisabled]="isLoading() || isCompleting()"
      (onMessage)="handleCompletion($event)"
      ngSkipHydration
    ></app-text-message-box>
    <div class="h-4"></div>
  </div>
</div>
