<form
  [formGroup]="form"
  (ngSubmit)="handleSubmit()"
  class="flex flex-col rounded-3xl bg-zinc-700 w-full p-4"
>
  <textarea
    type="text"
    autofocus
    class="w-full outline-none text-white text-base leading-7 resize-none bg-transparent placeholder:text-gray-500 placeholder:font-semibold"
    [placeholder]="placeholder()"
    formControlName="prompt"
    [autocomplete]="disableCorrections() ? 'on' : 'off'"
    [spellcheck]="disableCorrections() ? 'on' : 'off'"
    (input)="adjustHeight($event)"
    (keydown.enter)="handleSubmit()"
  >

  ></textarea
  >
  <div class="mt-2 flex justify-end">
    <button
      class="bg-green-700 w-8 h-8 rounded-full flex items-center justify-center hover:bg-green-600 cursor-pointer disabled:bg-zinc-600"
      type="submit"
      [disabled]="form.invalid"
    >
      <img src="/assets/icons/send.svg" alt="" class="w-6 h-6" />
    </button>
  </div>
</form>
