<form
  [formGroup]="form"
  (ngSubmit)="handleSubmit()"
  class="flex flex-col rounded-3xl bg-dark-2 w-full p-4"
>
  <textarea
    type="text"
    autofocus
    class="w-full outline-none text-white text-base leading-7 resize-none bg-transparent placeholder:text-dark-6"
    [placeholder]="placeholder()"
    formControlName="prompt"
    (input)="adjustHeight($event)"
    (keydown.enter)="handleSubmit()"
  >
  </textarea>
  <div class="mt-2 flex justify-end">
    <button
      class="bg-primary w-8 h-8 rounded-full flex items-center justify-center hover:bg-primary-2 cursor-pointer disabled:bg-dark-8 disabled:cursor-default"
      type="submit"
      [disabled]="form.invalid || onMessageDisabled()"
    >
      @if (form.invalid || onMessageDisabled()) {

      <img src="/assets/icons/send_disabled.svg" alt="" class="w-5 h-5" />

      }@else {
      <img src="/assets/icons/send.svg" alt="" class="w-5 h-5" />

      }
    </button>
  </div>
</form>
