<div class="w-full">
  <div
    class="fixed h-20 w-full bg-dark-1 top-0 left-0 z-10 px-6 flex gap-2 items-center justify-between"
  >
    <div class="flex gap-2 items-center">
      <img src="/assets/icons/neura.svg" alt="logo" class="w-8" />
      <img src="/assets/icons/neura_text.svg" alt="logo" class="h-4" />
    </div>

    <div class="flex gap-4 items-center">
      <button
        (click)="onSignIn()"
        class="bg-primary text-white rounded-xl px-2 w-24 h-12 hover:bg-primary-2 cursor-pointer"
      >
        Sign in
      </button>
      <button
      class="border border-primary text-white rounded-xl px-2 w-24 h-12 hover:bg-primary-2 cursor-pointer"
      >
        Sign up
      </button>
    </div>
  </div>
  <div class="pt-20">
    <router-outlet />
  </div>
</div>
