<div class="bg-zinc-800 h-screen w-full flex">
  <div class="w-[300px] bg-zinc-900 h-screen flex flex-col">
    <div class="h-40 px-6 pt-6">
      <h1 class="text-xl text-white mb-6">Neura AI</h1>
      <button
        (click)="newChat()"
        class="bg-green-700 text-white rounded-xl px-2 py-2 hover:bg-green-600 cursor-pointer"
      >
        New chat
      </button>
    </div>

    <div class="felx-1 flex flex-col gap-1 px-2 overflow-y-auto">
      @for (item of chatsStore.chats(); track item._id) {

      <div
        (click)="goChat(item._id)"
        class="text-white text-sm hover:bg-zinc-700 min-h-10 flex items-center px-4 truncate rounded-xl cursor-pointer"
      >
        {{ item.title }}
      </div>
      }
    </div>
  </div>

  <div class="w-full">
    <router-outlet />
  </div>
</div>
