@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

/* Estilos globales para el scroll */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #404040;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
body {
  scrollbar-color: #888 #404040;
  scrollbar-width: thin;
}

markdown {
  h3 {
    @apply text-xl font-bold mt-2 mb-4;
  }

  p {
    @apply text-base mb-4;
  }

  pre {
    background-color: #0e1015 !important;
    font-size: 14px !important;
    border-radius: 20px !important;
    padding: 16px !important;
  }

  code {
    font-family: "JetBrains Mono", serif;
  }
}
